

.el-link.el-link--primary{
    color: rgb(34, 204, 153) !important;
}


.el-link:hover {
    text-decoration: underline;
    color: rgb(34, 204, 153) !important;
  }

  .el-dialog{
    background: #fff;
  }